<div
  class="modal-overlay"
  data-overlay="true"
  (click)="closeModalOnOverlay($event)"
>
  <div class="modal">
    <div class="modal__header">
      <h2 class="modal__title">{{ title$ | async }}</h2>
      <span class="modal__close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal__body">
      <form class="form" [formGroup]="boardForm" (submit)="addBoard()">
        <ul class="form__items">
          <li class="form__item">
            <label class="form__input-label" for="name">Name</label>

            <input
              class="form__input"
              type="text"
              id="name"
              placeholder="Enter name"
              formControlName="name"
            />

            <label
              class="form__error-label"
              for="name"
              *ngIf="name?.errors?.['required'] && name?.touched"
              >Field is required</label
            >
          </li>

          <li class="form__item">
            <label class="form__input-label" for="description"
              >Description</label
            >

            <input
              class="form__input"
              type="text"
              id="description"
              placeholder="Enter description"
              formControlName="description"
            />

            <label
              class="form__error-label"
              for="description"
              *ngIf="description?.errors?.['required'] && description?.touched"
              >Field is required</label
            >
          </li>

          <li class="form__item">
            <label class="form__input-label" for="description"
              >Background</label
            >

            <app-color-select
              (clickEmitter)="setColor($event)"
            ></app-color-select>
          </li>

          <li class="form__item">
            <button
              class="form__button-submit"
              type="submit"
              [disabled]="boardForm.status === 'INVALID'"
            >
              Create
            </button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
