.comment {
  font-weight: normal;
}

.comment__header {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-left: 3px;
}

.comment__user {
  font-weight: 600;
}

.comment__time {
  font-size: 0.86rem;
}

.comment__footer {
  margin-top: 0.2rem;
  margin-left: 3px;

  > * {
    color: #5e6c84;
    font-size: 0.9rem;
  }
}

.task__comment-input-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
}

.task__comment-input {
  padding: 8px 12px;
  font-size: 0.94rem;
  width: 100%;
  resize: none;
  min-height: 36px;
  word-wrap: break-word;
}

.comment__body {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 0 1px #091e4214;
  padding: 8px 12px;

  .task__comment-input-wrapper {
    border: none;
    box-shadow: none;
  }

  .task__comment-input {
    width: 100%;
    resize: none;
    padding: 0;
    min-height: 40px;
  }

  .comment__footer {
    margin: 0;
  }

  .form__buttons {
    padding-top: 12px;
  }
}

.task__activity {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 100%;
}

.task__activity-header {
  display: flex;
  gap: 1rem;
}

.task__activity-body {
  margin-left: 2.6rem;
}

.form__buttons {
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form__button-submit {
  background-color: #0079bf;
  box-shadow: none;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;

  &:hover {
    background-color: #026aa7;
  }
}

.form__button-close {
  color: #6b778c;
  font-size: 34px;
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  place-content: center;
}

.form__button-more {
  margin-left: auto;
  margin-right: 0.2rem;

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
